@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meus Jogos</h1>
</div>

<div class="row mt-5">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item active text-center">Disponíveis</li>
            <div id="list-disponiveis"></div>
        </ul>
    </div>

    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item active text-center">Emprestados</li>
            <div id="list-emprestados"></div>
        </ul>
    </div>
</div>

<div class="modal fade" id="modalEmprestar" tabindex="-1" role="dialog" aria-labelledby="modalEmprestarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEmprestarLabel">Emprestar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="jogo-id" name="jogo-id" />
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Emprestar para:</label>
                        <select class="form-control" id="emprestar-para" name="emprestar-para"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-cancelar">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-gravar-emprestimo">Emprestar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/src/modules/home/index/index.js" type="module"></script>
}